# Data & Models
/datasets/
*.pt
*.ckpt
/runs/
/outputs/
/checkpoints/

/.idea/
/.vscode/
# Bytecode
__pycache__/
*.pyc

# Jupyter & Logs
*.ipynb
*.log


# Ignore Weights & Biases logs
wandb/
wandb-debug.log
wandb-debug.log.*

# Ignore TensorBoard logs
**/events.out.tfevents.*

# Optional: Ignore all TensorBoard log directories
logs/
